{% extends 'base.html.twig' %}

{% block title %}Récap quizs{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if quizzs != [] %}
            <h1 class="text-warning">Récapitulation du Quiz</h1>
            <h2 class="text-warning">Récapitulatif des 5 Dernières Parties :</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Partie</th>
                        <th scope="col">Date</th>
                        <th scope="col">Score</th>
                        <th scope="col" style="width: 30px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quizz in quizzs %}
                        <tr>
                            <td>{{ quizz.id }}</td>
                            <td>{{ quizz.date|date("d/m/y") }}</td>
                            <td>
                                {{ quizz.isIsFinished 
                                    ? quizz.goodAnswer ~ ' réponses juste(s) / ' ~ (quizz.wrongAnswer + quizz.goodAnswer) 
                                    : 'Quizz inachevé' }} 
                            </td>
                            <td>
                                <a href="{{ quizz.isFinished ? path('app.quizz.show', {id: quizz.id}) : path('app.quizz.finish', {id: quizz.id}) }}" class="btn {{ quizz.isIsFinished ? 'text-success' : 'text-warning'}}" style="text-decoration: none; color: inherit; display: block; width: 100%; height: 100%;">
                                {{ quizz.isIsFinished 
                                    ? '📝' 
                                    : '🏁' }} 
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app.recap', {allQuizzs: 1}) }}" class="btn btn-light">Afficher tous les quizs</a>
        {% else %}
            <h2 class="text-warning">Vous n'avez pas encore joué, cliquez sur l'onglet Quizz pour démarer</h2>
        {% endif %}
    </div>
{% endblock %}
