{% extends 'base.html.twig' %}

{% block title %}Récapitulation du Quiz{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if quizzs != [] %}
            <h1 class="text-warning">Récapitulation du Quiz</h1>
            <h2 class="text-warning">Récapitulatif des 5 Dernières Parties :</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Partie</th>
                        <th scope="col">Date</th>
                        <th scope="col">Score</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for quizz in quizzs %}
                        <tr>
                            <td><a href="{{ quizz.isFinished ? path('app.quizz.show', {id: quizz.id}) : path('app.quizz.finish', {id: quizz.id}) }}">{{ quizz.id }}</a></td>
                            <td>{{ quizz.date|date("d/m/y") }}</td>
                            <td>
                                <a href="{{ quizz.isFinished ? path('app.quizz.show', {id: quizz.id}) : path('app.quizz.finish', {id: quizz.id}) }}">
                                {{ quizz.isIsFinished 
                                    ? quizz.goodAnswer ~ ' réponses juste(s) / ' ~ (quizz.wrongAnswer + quizz.goodAnswer) 
                                    : 'Quizz inachevé, finir le quizz...'}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="text-warning">Vous n'avez pas encore joué, cliquez sur l'onglet Quizz pour démarer</h2>
        {% endif %}
    </div>
{% endblock %}
