{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
<div class="example-wrapper">
    <form method="post" action="{{ path("app.quizz.submit", {id: quizz.id}) }}">
        {% for question in quizz.data %}
            {% set question_index = loop.index0 %}
            <fieldset>
                <legend>{{ question.question }}</legend>
                {% for response in question.answers %}
                    <input type="radio" name="{{question_index}}" value="{{loop.index0}}" required>
                    <label for="{{question_index}}-{{loop.index0}}">{{response}}</label><br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();

        window.history.replaceState({}, "", "{{ path('home.index') }}");
        location.reload();
        this.submit();
    });
</script>
{% endblock %}
