{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
<div class="example-wrapper">

    {# {{ dump(quizz.user)}} #}

    <form method="post" action="{{ path("app.quizz.submit", {id: quizz.id}) }}">
        {% for question in quizz.data %}
            {% set question_index = loop.index0 %}
            <h2>{{ question.question }}</h2>
                {% for response in question.answers %}
                    <input type="checkbox" id="{{question_index}}-{{loop.index0}}" value="{{response}}">
                    <label for="{{question_index}}-{{loop.index0}}"> {{response}}</label><br>
                {% endfor %}
        {% endfor %}

        <input type="submit" value="Submit">
    </form> 

</div>
{% endblock %}
