{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
<div class="example-wrapper">

    {# {{ dump(quizz.user)}} #}

    <form method="post" action="{{ path("app.quizz.submit", {id: quizz.id}) }}">
        {% for question in quizz.data %}
            {% set question_index = loop.index0 %}
            <fieldset>
            <legend>{{ question.question }}</legend>
                {% for response in question.answers %}
                    <input type="radio" name="{{question_index}}" value="{{loop.index0}}">
                    <label for="{{question_index}}-{{loop.index0}}"> {{response}}</label><br>
                {% endfor %}
            </fieldset>
        {% endfor %}

        <input type="submit" value="Submit">
    </form> 

</div>
{% endblock %}
